<main class="container">
  <h1>Inventory management</h1>
  <p>Mini software for accountants</p>

  <% if user_signed_in? %>
    <%= link_to "Start", quotes_path, class: "btn btn--dark" %>
  <% else %>
    <%= link_to "Sign in", new_user_session_path, class: "btn btn--dark" %>
  <% end %>
</main>