.bg-image {
    background-image: url("https://www.dvphilippines.com/hubfs/qualities%20of%20an%20accountant.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
   }
